html{
   box-sizing: border-box;
}
*,
*::after,
*::before{
   box-sizing: inherit;
}

body{
   font-size: 16px;
   line-height: 1.5;
   font-family: 'Public Sans', sans-serif, 'DM Serif Display', serif;
   background-color: #EDF3F8;
}